.menu_avatar_wrapper {
  position: absolute;
  top: 4.3rem;
  right: 0;
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.menu_avatar_container {
  padding: 1rem;
}

.menu_avatar_container p {
  cursor: pointer;
}

.menu_avatar_container p:first-child {
  margin-bottom: 0.5rem;
}
