form {
  width: 100%;
}

form input,
textarea {
  resize: none;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.2rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.4);
}

form input[type="submit"] {
  cursor: pointer;
  margin-bottom: 0;
}

.form_input_container {
  margin-bottom: 1rem;
}

form label {
  font-weight: 500;
}

.form_errors {
  font-size: 0.9rem;
  color: rgb(255, 0, 0);
}

.form_forgot_password {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.form_register_btn {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-style: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
