.header_wrapper {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 75%;
  backdrop-filter: blur(7px);
}

@media screen and (max-width: 1200px) {
  .header_wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .header_wrapper {
    width: 100%;
  }
}
