.forgot_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(#8de6f8, #13555f);
}

.forgot_container {
  display: flex;
  justify-content: center;
  width: 60%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 0.8rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.forgot_form_wrapper {
  width: 50%;
  padding: 4rem;
}

.forgot_header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.forgot_logo_title {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.forgot_logo_title p {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-left: 1rem;
}

@media screen and (max-width: 1200px) {
  .forgot_form_wrapper {
    padding: 4rem 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .forgot_form_wrapper {
    width: 100%;
  }

  .forgot_wrapper {
    background-image: url("../../assets/robot_login.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
  }
}

@media screen and (max-width: 768px) {
  .forgot_container {
    width: 90%;
  }

  .forgot_form_wrapper {
    padding: 4rem 2rem;
  }
}

@media screen and (max-width: 480px) {
  .forgot_wrapper {
    background-size: cover;
  }

  .forgot_form_wrapper {
    padding: 2rem;
  }

  .forgot_logo {
    display: none;
  }

  .forgot_logo_title p {
    font-size: 1.2rem;
    margin-left: 0;
  }
}
