.burger_wrapper {
  display: none;
  margin-left: 1rem;
  width: 40%;
}

.burger_nav_container {
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 4.5rem);
}
.burger_nav_container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger_nav_container li {
  text-align: center;
  width: 100%;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 0;
}

@media screen and (max-width: 768px) {
  .burger_wrapper {
    display: flex;
  }
}
